$card-background: #c540c5;
$card-border: #a711a7;
$container-background: #ffff76;
$container-border: #f0f025;

$container-background: #505873;
$container-border: #fafafa;
$card-background: #fafafa;
$card-border: #a29eaf;

$button-background: #c540c5;
$button-border: #a711a7;

$new-background: #30bd30;
$new-border: #008000;

$light-text-color: white;

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap");

@mixin flex-center($direction, $wrap) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: $direction $wrap;
}

@mixin test-border($color) {
  border: 1px solid $color;
}

button {
  cursor: pointer;
  border-radius: 12px;
  padding: 7px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 15px;
  border-color: $new-border;
  background-color: $new-background;
  color: #fafafa;

  &:hover {
    transform: scale(0.975);
  }
}
