@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0 auto;
  font-family: "Alegreya Sans SC", sans-serif;

  background: rgb(40, 45, 62);
  background: linear-gradient(
    90deg,
    rgba(40, 45, 62, 1) 0%,
    rgba(34, 41, 61, 1) 64%,
    rgba(40, 45, 62, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $container-background;
  border-radius: 12px;
}

#container {
  @include flex-center(column, nowrap);

  justify-content: space-around;
  width: fit-content;
  margin: inherit;
  margin-top: 20px;
  position: relative;
  max-width: 1100px;
  font-family: "Alegreya Sans SC", sans-serif;

  h1 {
    padding: 10px;
    color: white;
  }

  #board-manager {
    @include flex-center(row, nowarp);
    justify-content: space-between;
    margin-top: 20px;

    input {
      margin-right: 15px;
      padding: 5px;
      color: white;

      height: 30px;
      border: none;
      border-bottom: 2px solid $container-border;
      background: transparent;

      &::placeholder {
        color: #fafafa;
        font-family: "Alegreya Sans SC", sans-serif;
      }
    }

    button {
      border: 4px solid $new-border;
      background-color: $new-background;
      color: $light-text-color;
      font-weight: bold;
      font-family: "Alegreya Sans SC", sans-serif;
    }
  }

  #boards {
    @include flex-center(column, nowrap);

    margin-top: 50px;

    .board {
      @include flex-center(row, nowrap);
      border-radius: 12px;
      align-items: flex-start;
      max-width: 1100px;
      overflow-x: auto;
      overflow-y: hidden;

      margin-bottom: 50px;
      padding: 50px;
      padding-top: 70px;
      position: relative;

      h1 {
        color: $card-border;
        align-self: flex-start;
        position: absolute;
        top: 10px;
        left: 15px;
        color: #fafafa;
      }

      .add-list {
        order: 1;
        padding: 10px;
        margin: 10px;
        min-width: 60px;

        background-color: #30bd30;
        border: 3px solid #008000;
        font-weight: bold;

        color: #fafafa;
      }

      .list-container {
        @include test-border($container-border);
        border-width: 2px;
        background-color: $container-background;
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
        font-family: "Muli", sans-serif;

        .list-header {
          @include flex-center(row, nowrap);
          justify-content: space-between;
          padding: 4px 8px;

          input {
            margin-right: 15px;
            padding: 5px;

            height: 30px;
            border: none;
            background-color: $container-background;
            border-bottom: 2px solid $container-border;
            font-weight: bold;
            color: #fafafa;
            font-family: "Alegreya Sans SC", sans-serif;

            &::placeholder {
              color: #fafafa;
              font-family: "Alegreya Sans SC", sans-serif;
            }
          }

          button {
            @include test-border(#b13c2c);
            border-width: 3px;
            background-color: #dd5947;
            color: $light-text-color;
            font-weight: bold;
          }

          i {
            color: #ffc5c5;
          }
        }

        .card-container {
          @include flex-center(column, nowrap);
          min-height: 130px;
          min-width: 250px;

          .create-card {
            @include test-border($container-border);
            @include flex-center(column, nowrap);
            justify-content: flex-start;
            align-items: flex-start;
            border-top: 3px solid $card-border;

            // border-radius: 12px;
            background-color: $card-background;
            color: black;
            min-height: 80px;
            width: 250px;
            margin: 5px;
            padding: 10px;
            cursor: pointer;

            &:hover {
              transform: scale(0.97);
            }

            .display-card-title {
              font-weight: bold;
              margin-bottom: 3px;
            }

            .display-card-desc {
              text-align: left;
            }
          }
        }

        .list-footer button {
          @include test-border(#008000);
          border-width: 4px;
          background-color: #30bd30;
          color: white;
          font-weight: bold;
          margin: 10px;
        }
      }
    }
  }

  .add-card {
    display: none;
    position: fixed;
    @include test-border(black);
    min-height: 300px;
    width: 500px;
    border-radius: 12px;
    border: 5px solid grey;

    background: rgb(199, 205, 199);
    background: radial-gradient(
      circle,
      rgba(199, 205, 199, 1) 0%,
      rgba(160, 167, 156, 1) 50%,
      rgba(210, 213, 210, 0.7371323529411764) 100%
    );

    flex-flow: column nowrap;
    justify-content: space-evenly;

    & > div {
      display: inline-block;
    }

    #close-card {
      position: absolute;
      right: 8px;
      top: 8px;
      cursor: pointer;
      border: 1px solid;
      width: 20px;
      background-color: #dd5947;
      border: 2px solid #b13c2c;
      color: white;
      font-weight: bolder;

      &:hover {
        transform: scale(0.97);
      }
    }

    input,
    textarea {
      border-radius: 8px;
      padding: 5px;
      border: 3px solid grey;
      resize: none;

      &::placeholder {
        font-family: "Alegreya Sans SC", sans-serif;
      }
    }

    button {
      border: 4px solid $new-border;
      font-weight: bolder;
    }

    .title-container,
    .desc-container,
    .comments-container {
      width: 400px;
      text-align: left;
    }

    #card-title {
      margin: 0 10px;
    }

    .desc-container,
    .comments-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      #card-desc,
      #card-comment {
        flex-grow: 1;
        margin: 0 10px;
        height: 60px;
      }

      #del-card-button {
        border-color: #be4949;
        background-color: #f07e7e;
      }
    }

    .show-comments {
      text-align: left;

      ul {
        margin-left: 28px;
      }
    }
  }
}
