@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap");
button {
  cursor: pointer;
  border-radius: 12px;
  padding: 7px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 15px;
  border-color: #008000;
  background-color: #30bd30;
  color: #fafafa;
}

button:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0 auto;
  font-family: "Alegreya Sans SC", sans-serif;
  background: #282d3e;
  background: -webkit-gradient(linear, left top, right top, from(#282d3e), color-stop(64%, #22293d), to(#282d3e));
  background: linear-gradient(90deg, #282d3e 0%, #22293d 64%, #282d3e 100%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #505873;
  border-radius: 12px;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: inherit;
  margin-top: 20px;
  position: relative;
  max-width: 1100px;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container h1 {
  padding: 10px;
  color: white;
}

#container #board-manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowarp;
          flex-flow: row nowarp;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

#container #board-manager input {
  margin-right: 15px;
  padding: 5px;
  color: white;
  height: 30px;
  border: none;
  border-bottom: 2px solid #fafafa;
  background: transparent;
}

#container #board-manager input::-webkit-input-placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #board-manager input:-ms-input-placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #board-manager input::-ms-input-placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #board-manager input::placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #board-manager button {
  border: 4px solid #008000;
  background-color: #30bd30;
  color: white;
  font-weight: bold;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-top: 50px;
}

#container #boards .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-radius: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1100px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 50px;
  padding: 50px;
  padding-top: 70px;
  position: relative;
}

#container #boards .board h1 {
  color: #a29eaf;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fafafa;
}

#container #boards .board .add-list {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 10px;
  margin: 10px;
  min-width: 60px;
  background-color: #30bd30;
  border: 3px solid #008000;
  font-weight: bold;
  color: #fafafa;
}

#container #boards .board .list-container {
  border: 1px solid #fafafa;
  border-width: 2px;
  background-color: #505873;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-family: "Muli", sans-serif;
}

#container #boards .board .list-container .list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 8px;
}

#container #boards .board .list-container .list-header input {
  margin-right: 15px;
  padding: 5px;
  height: 30px;
  border: none;
  background-color: #505873;
  border-bottom: 2px solid #fafafa;
  font-weight: bold;
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #boards .board .list-container .list-header input::-webkit-input-placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #boards .board .list-container .list-header input:-ms-input-placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #boards .board .list-container .list-header input::-ms-input-placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #boards .board .list-container .list-header input::placeholder {
  color: #fafafa;
  font-family: "Alegreya Sans SC", sans-serif;
}

#container #boards .board .list-container .list-header button {
  border: 1px solid #b13c2c;
  border-width: 3px;
  background-color: #dd5947;
  color: white;
  font-weight: bold;
}

#container #boards .board .list-container .list-header i {
  color: #ffc5c5;
}

#container #boards .board .list-container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: 130px;
  min-width: 250px;
}

#container #boards .board .list-container .card-container .create-card {
  border: 1px solid #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 3px solid #a29eaf;
  background-color: #fafafa;
  color: black;
  min-height: 80px;
  width: 250px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#container #boards .board .list-container .card-container .create-card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#container #boards .board .list-container .card-container .create-card .display-card-title {
  font-weight: bold;
  margin-bottom: 3px;
}

#container #boards .board .list-container .card-container .create-card .display-card-desc {
  text-align: left;
}

#container #boards .board .list-container .list-footer button {
  border: 1px solid #008000;
  border-width: 4px;
  background-color: #30bd30;
  color: white;
  font-weight: bold;
  margin: 10px;
}

#container .add-card {
  display: none;
  position: fixed;
  border: 1px solid black;
  min-height: 300px;
  width: 500px;
  border-radius: 12px;
  border: 5px solid grey;
  background: #c7cdc7;
  background: radial-gradient(circle, #c7cdc7 0%, #a0a79c 50%, rgba(210, 213, 210, 0.737132) 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#container .add-card > div {
  display: inline-block;
}

#container .add-card #close-card {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  border: 1px solid;
  width: 20px;
  background-color: #dd5947;
  border: 2px solid #b13c2c;
  color: white;
  font-weight: bolder;
}

#container .add-card #close-card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#container .add-card input,
#container .add-card textarea {
  border-radius: 8px;
  padding: 5px;
  border: 3px solid grey;
  resize: none;
}

#container .add-card input::-webkit-input-placeholder,
#container .add-card textarea::-webkit-input-placeholder {
  font-family: "Alegreya Sans SC", sans-serif;
}

#container .add-card input:-ms-input-placeholder,
#container .add-card textarea:-ms-input-placeholder {
  font-family: "Alegreya Sans SC", sans-serif;
}

#container .add-card input::-ms-input-placeholder,
#container .add-card textarea::-ms-input-placeholder {
  font-family: "Alegreya Sans SC", sans-serif;
}

#container .add-card input::placeholder,
#container .add-card textarea::placeholder {
  font-family: "Alegreya Sans SC", sans-serif;
}

#container .add-card button {
  border: 4px solid #008000;
  font-weight: bolder;
}

#container .add-card .title-container,
#container .add-card .desc-container,
#container .add-card .comments-container {
  width: 400px;
  text-align: left;
}

#container .add-card #card-title {
  margin: 0 10px;
}

#container .add-card .desc-container,
#container .add-card .comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#container .add-card .desc-container #card-desc,
#container .add-card .desc-container #card-comment,
#container .add-card .comments-container #card-desc,
#container .add-card .comments-container #card-comment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10px;
  height: 60px;
}

#container .add-card .desc-container #del-card-button,
#container .add-card .comments-container #del-card-button {
  border-color: #be4949;
  background-color: #f07e7e;
}

#container .add-card .show-comments {
  text-align: left;
}

#container .add-card .show-comments ul {
  margin-left: 28px;
}
/*# sourceMappingURL=style.css.map */
